# Exclude files you shouldn't see
/CaveStory.c
/CaveStory.h
/main.c
/valgrind.log

# Exclude build folder
/game_english

# Exclude obj directory (object files for Makefile build)
/obj

# Exclude the (recommended) CMake build directory
/build

###################
# Accurate branch #
###################

# Exclude devilution-comparer assembly output
/devilution/orig.asm
/devilution/compare.asm

# Exclude MSVC IntelliSense database
/vs2003/CSE2.ncb

# Exclude MSVC Solution User Options file
/vs2003/CSE2.suo

# Exclude MSVC build folders
/vs2003/Debug
/vs2003/Release
/vs2003/Debug (Japanese)
/vs2003/Release (Japanese)
